//  Font-Size
$fontSize70: 70px;
$fontSize50: 50px;
$fontSize48: 48px;
$fontSize47: 47px;
$fontSize46: 46px;
$fontSize30: 30px;
$fontSize27: 27px;
$fontSize26: 26px;
$fontSize22: 22px;
$fontSize20: 20px;
$fontSize18: 18px;
$fontSize16: 16px;
$fontSize15: 15px;
$fontSize14: 14px;
$fontSize13: 13px;
$fontSize22: 22px;
// Color
$primaryColor : #35ac39;
$whiteColor   : #ffffff;
$colorDesc : #666666;
$bgColor : #f5f8fa;
$colorTitle : #252d35;
//  Font-Family
$poppins :Poppins,sans-serif;
//  height 
$headerHeight : 50px;


