.how{
    padding: 80px 0;
    @include position(relative);
    &__desc{
        color: $colorDesc;
        font-size: $fontSize16;
        line-height: 24px;
        margin-bottom: 30px;
    }
    &__button{
        @include position(absolute);
        left: 52%;
        top: 45%;
        transform: translate(-50%,-50%);
        a{
            width: 100px;
            height: 100px;
            background-color: $primaryColor;
            border-radius: 50%;
            @include position(relative);
            &::before{
                content: '';
                @include position(absolute);
                width: 112px;
                height: 112px;
                left: -6px;
                top: -6px;
                background-color: #4c794e;
                border-radius: 50%;
                z-index: -1;
            }
        }
    }
}