.testimonial{
    @include position(relative);
    padding: 100px 0;
    background-size: cover;
    background-position: center center;
    &::before{
        background: rgba(0,0,0,0.6);
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.8;
        @include position(absolute);
        top: 0;
        width: 100%;
    }
    &__content{
        @include displayFlex(center, center);
        &-left{
            width: 20%;
            text-align: center;
            margin-right: 5%;
            img{
                margin: 0 auto;
                border-radius: 50%;
                border: 8px solid rgba(255,255,255,0.15);
            }
            h4{
                color: $whiteColor;
                font-size: $fontSize18;
                font-weight: 600;
                margin: 5px 0;
            }
            p{
                font-size: $fontSize13;
                color: $whiteColor;
            }
        }
        &-desc{
            display: inline-block;
            width: 75%;
            padding: 30px 20px;
            border: 1px solid rgba(255,255,255,0.15);
            font-size: $fontSize16;
            color: $whiteColor;
            margin: 0;
            @include position(relative);
            line-height: 25px;
            &::before{
                content: "";
                border: 10px solid transparent;
                border-right: 10px solid rgba(255,255,255,0.15);
                position: absolute;
                top: 20px;
                left: -21px;
            }
        }
    }
}
